<script setup lang="ts">
import MyModal from '@/components/Modal.vue';// Adapter le chemin selon votre structure de projet


import {Ref} from 'vue'
import useUser from '@/composables/useUser'
import {useRoute} from 'vue-router';


definePageMeta({
  middleware: 'auth'
})

interface Modal {
  id: number;
  title: string;
  description: string;
  actionButtonText: string,
  apiAction: () => void;
  isOpen: boolean;
  actionButtonColor: string;
}


const openModal = (id: number) => {
  // Fermer toutes les autres modales
  modals.value.forEach((modal) => {
    if (modal.id !== id) {
      modal.isOpen = false;
    }
  });

  // Ouvrir la modale spécifique
  const modal = modals.value.find((m) => m.id === id);
  if (modal) {
    modal.isOpen = true
    console.log(modal.isOpen)

  }
  console.log(modal)
};

const closeModal = (id: number) => {
  // Fermer la modale spécifique
  const modal = modals.value.find((m) => m.id === id);
  if (modal) {

    modal.isOpen = false;
  }
};

const route = useRoute();
const userId = ref(route.params.id);
const {user, error, deleteUser, fetchUser, confirmUser, sendMessage, isLoading} = useUser(userId.value);

await fetchUser();

const modals: Ref<Modal[]> = ref([
  {
    id: 1,
    title: 'Delete user',
    actionButtonText: 'Delete',
    description: `Do you really want to delete this user ? This action will be permanent.`,
    apiAction: async () => {
      await deleteUser()
    },
    isOpen: ref(false),
    actionButtonColor: 'red'
  },
  {
    id: 2,
    title: 'Approve account',
    actionButtonText: 'Approve',
    description: `Do you really want to approve this user ? This action will be permanent.`,
    apiAction: async () => {
      await confirmUser()
    },
    isOpen: ref(false),
    actionButtonColor: 'indigo'

  },
]);


import {useForm} from 'vee-validate';
import * as yup from 'yup';

const {errors, handleSubmit, defineField, handleReset} = useForm({
  validationSchema: yup.object({
    title: yup.string().min(6).required(),
    content: yup.string().min(6).required(),
  }),
});

const hasErrors = computed(() => (Object.keys(errors.value).length) > 0)

const isFormLaoding = ref(false)

const [title, titlelAttrs] = defineField('title');
const [content, contentAttrs] = defineField('content');


const onSubmit = handleSubmit(async values => {
  try {
    isFormLaoding.value = true
    await sendMessage(values.title, values.content, user?.value!.email)
    handleReset()
  } catch (error) {
    // Gérer les erreurs de l'appel d'API si nécessaire

  } finally {
    isFormLaoding.value = false
  }
});
</script>

<template>

  <div v-if="isLoading">
    <PorfileBannerSkeleton/>
  </div>

  <div v-else>
    <PorfileBanner :user="user"/>
    <UserDetail :user="user"/>
    <div class="border-t border-gray-100 px-4 py-6 sm:col-span-3 sm:px-0">
      <div class="flex items-center justify-end flex-1 gap-2">
        <button @click="openModal(1)" type="button"
                class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 ring-1 ring-inset focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
          Delete
        </button>
        <button @click="openModal(2)" type="button"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 ring-1 ring-inset focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Approve
        </button>
      </div>
      <div  class="mx-auto max-w-4xl mt-10">
        <dt class="text-sm font-medium leading-6 text-gray-900">Send Message</dt>
        <dd class="mt-2 mb-10 text-sm text-gray-900">
          <form @submit.prevent="onSubmit" class="relative">
            <div
                class="overflow-hidden rounded-lg border border-gray-300 shadow-sm focus-within:border-indigo-500 focus-within:ring-1 focus-within:ring-indigo-500">
              <label for="title" class="sr-only">Title</label>
              <input type="text" v-model="title" v-bind="titlelAttrs" name="title" id="title"
                     class="block w-full border-0 pt-2.5 text-lg font-medium placeholder:text-gray-400 focus:ring-0"
                     placeholder="Title"/>
              <label for="content" class="sr-only">Content</label>
              <textarea rows="4" v-model="content" v-bind="contentAttrs" name="content" id="content"
                        class="block w-full resize-none border-0 py-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                        placeholder="Write a description..."/>

              <!-- Spacer element to match the height of the toolbar -->
              <div aria-hidden="true">
                <div class="py-2">
                </div>
                <div class="h-px"/>
                <div class="py-2">
                  <div class="py-px">
                    <div class="h-9"/>
                  </div>
                </div>
              </div>
            </div>

            <div class="absolute inset-x-px bottom-0">
              <!-- Actions: These are just examples to demonstrate the concept, replace/wire these up however makes sense for your project. -->
              <div class="flex items-center justify-end space-x-3 border-t border-gray-200 px-2 py-2 sm:px-3">
                <div class="flex-shrink-0">
                  <button type="submit" :disabled="isFormLaoding || hasErrors"
                          class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Send
                  </button>
                </div>
              </div>

            </div>
          </form>
          <p class="text-red-500 text-xs">{{ errors.title }}</p>
          <p class="text-red-500 text-xs">{{ errors.content }}</p>

        </dd>
      </div>

      <MyModal
          v-for="modal in modals"
          :key="modal.id"
          :id="modal.id"
          :title="modal.title"
          :description="modal.description"
          :action-button-text="modal.actionButtonText"
          :apiAction="modal.apiAction"
          :action-button-color="modal.actionButtonColor"
          :isModalOpen="modal.isOpen"
      />
    </div>
  </div>

</template>

