<script setup lang="ts">
import {h} from "vue";
import NameCell from "~/components/NameCell.vue";
import EmailCell from "~/components/EmailCell.vue";
import DateCell from "~/components/DateCell.vue";
import BadgeCell from "~/components/BadgeCell.vue";
import EditButton from "~/components/EditButton.vue";
import useService from "~/composables/useGetUsersService";
import _ from "lodash"
import {
  FlexRender,
  getCoreRowModel,
  getFilteredRowModel,
  getPaginationRowModel,
  getSortedRowModel, PaginationState,
  useVueTable
} from "@tanstack/vue-table";
import {MagnifyingGlassIcon} from "@heroicons/vue/20/solid/index";

const INITIAL_PAGE_INDEX = 0
const INITIAL_PAGE_SIZE = 10
const ALL_USER_ENDPOINT = '/admin/listallusers'
const INACTIVE_USERS_ENDPOINT = '/admin/inactivesusers'


definePageMeta({
  middleware: 'auth'
})



const columns = [
  {
    accessorKey: 'name',
    header: 'Name',
    cell: ({row}) => (h(NameCell, {
      name: row.original.fullname,
      image: row.original.photo
    }))
  },
  {
    accessorKey: 'email',
    header: 'Email',
    cell: ({row}) => (h(EmailCell, {
      email: row.original.email,
    }))
  },
  {
    accessorKey: 'date',
    header: 'Date',
    cell: ({row}) => (h(DateCell, {
      date: row.original.date_inscription,
    }))
  },
  {
    accessorKey: 'verified',
    header: 'Verified',
    cell: ({row}) => (h(BadgeCell, {
      data: row.original.is_email_verified
    }))
  },
  {
    accessorKey: 'approved',
    header: 'Approved',
    cell: ({row}) => (h(BadgeCell, {
      data: row.original.account_approved
    }))
  },
  {
    accessorKey: 'edit',
    header: '',
    cell: ({row}) => (h(EditButton, {
      data: row.original.id
    })),
    enableSorting: false
  },
]
const pageSizes = [10, 20, 30, 40, 50]

const pagination = ref<PaginationState>({
  pageIndex: INITIAL_PAGE_INDEX,
  pageSize: INITIAL_PAGE_SIZE,
})

const sorting = ref([])
const filter = ref('')
const endpoint = ref(ALL_USER_ENDPOINT)
const isInactiveUsers = ref(false)

const { data, isLoading, pageCount } = useService(pagination, endpoint)

const table = useVueTable({
  get data() {
    return data.value ?? []
  },
  get pageCount() {
    return pageCount.value ?? -1
  },
  columns,
  state: {
    pagination: pagination.value,
    get sorting() {
      return sorting.value
    },
    get globalFilter() {
      return filter.value
    },
  },
  manualPagination: true,
  onPaginationChange: updater => {
    if (typeof updater === 'function') {
      setPagination(
          updater({
            pageIndex: pagination.value.pageIndex,
            pageSize: pagination.value.pageSize,
          })
      )
    } else {
      setPagination(updater)
    }
  },
  getCoreRowModel: getCoreRowModel(),
  getSortedRowModel: getSortedRowModel(),
  getFilteredRowModel: getFilteredRowModel(),
  debugTable: true,
})


function setPagination({
                         pageIndex,
                         pageSize,
                       }: PaginationState): PaginationState {
  pagination.value.pageIndex = pageIndex
  pagination.value.pageSize = pageSize

  return { pageIndex, pageSize }
}

const goToPageNumber = ref(INITIAL_PAGE_INDEX + 1)

function handleGoToPage(e) {
  const page = e.target.value ? Number(e.target.value) - 1 : 0
  goToPageNumber.value = page + 1
  table.setPageIndex(page)
}

function handlePageSizeChange(e) {
  table.setPageSize(Number(e.target.value))
}

function getInactiveUsers(value) {
  console.log(value)
if(value)
{
   endpoint.value = INACTIVE_USERS_ENDPOINT
  isInactiveUsers.value = true
  return;
}
  endpoint.value = ALL_USER_ENDPOINT
  isInactiveUsers.value = false

}
</script>


<template>
  <div class="px-4">
    <PageHeader
        title="Users"
        description="A list of all the users in your account including their name, title, email and role."
    />
    <div class="mt-10 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="mb-4 flex justify-between items-center">
            <div class="w-full max-w-lg lg:max-w-xs">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                  <MagnifyingGlassIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
                </div>
                <input id="search" name="search"
                       v-model="filter"
                       class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                       placeholder="Search" type="search"/>
              </div>
            </div>
            <div class="flex">
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => getInactiveUsers(false)"
                  :disabled="!isInactiveUsers"
              >
                All
              </button>
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => getInactiveUsers(true)"
                  :disabled="isInactiveUsers"
              >
                Inactive
              </button>

            </div>
            <div class="flex flex-1 justify-between sm:justify-end">
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => table.setPageIndex(0)"
                  :disabled="!table.getCanPreviousPage()"
              >
                First Page
              </button>
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => table.previousPage()"
                  :disabled="!table.getCanPreviousPage()"
              >
                Previous
              </button>
              <button
                  @click="() => table.nextPage()"
                  :disabled="!table.getCanNextPage()"
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
              >
                Next
              </button>
              <button
                  @click="() => table.setPageIndex(table.getPageCount() - 1)"
                  :disabled="!table.getCanNextPage()"
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
              >
                Last Page
              </button>
            </div>
          </div>
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg relative">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">

              <tr>
                <th
                    v-for="(header, headerIdx) in table.getFlatHeaders()"
                    @click="header.column.getToggleSortingHandler()?.($event)"
                    :key="header.id"
                    scope="col"
                    :class="[
                   (header.column.getCanSort() ? 'cursor-pointer select-none' :''),
                    (headerIdx === 0 ? 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6': 'px-3 py-3.5 text-left text-sm font-semibold text-gray-900')
               ]"
                >
                  <FlexRender
                      :render="header.column.columnDef.header"
                      :props="header.getContext()"
                  />
                </th>
              </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
              <template v-if="table.getRowModel().rows.length > 0">
                <tr v-for="(row, rowIdx) in table.getRowModel().rows" :key="row.id"
                    :class="rowIdx % 2 === 0 ? undefined : 'bg-gray-50'">
                  <td v-for="cell in row.getVisibleCells()" :key="cell.id">
                    <FlexRender
                        :render="cell.column.columnDef.cell"
                        :props="cell.getContext()"
                    />
                  </td>
                </tr>
              </template>

              <template v-else>
                <tr class="p-4">
                  <td colspan="6" class="p-4">
                    <div class="text-center">
                      <h3 class="mt-2 text-sm font-semibold text-gray-900">No data</h3>
                      <p class="mt-1 text-sm text-gray-500">We don't have any result for your query.</p>
                    </div>
                  </td>
                </tr>
              </template>
              </tbody>
            </table>
            <div v-if="isLoading" class="absolute bg-white inset-0 opacity-70 flex items-center justify-center">
              <div class="animate-pulse flex items-center justify-center h-20">
                <!-- Add your preferred spinner/loading icon here -->
                <svg class="animate-spin h-6 w-6 text-gray-800" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
              </div>
            </div>
          </div>
          <nav class="flex items-center justify-between border-t border-gray-200 py-3 mt-5" aria-label="Pagination">
            <div class="hidden sm:block">
              <p class="text-sm text-gray-700">
                Page
                {{ ' ' }}
                <strong>
                  {{ table.getState().pagination.pageIndex + 1 }}
                </strong>
                of
                {{ ' ' }}

                <strong>
                  {{ table.getPageCount() }}
                </strong>
              </p>
            </div>
            <div class="flex flex-1 justify-between sm:justify-end">
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => table.setPageIndex(0)"
                  :disabled="!table.getCanPreviousPage()"
              >
                First Page
              </button>
              <button
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                  @click="() => table.previousPage()"
                  :disabled="!table.getCanPreviousPage()"
              >
                Previous
              </button>
              <button
                  @click="() => table.nextPage()"
                  :disabled="!table.getCanNextPage()"
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
              >
                Next
              </button>
              <button
                  @click="() => table.setPageIndex(table.getPageCount() - 1)"
                  :disabled="!table.getCanNextPage()"
                  class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
              >
                Last Page
              </button>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>