<template>
  <TransitionFade>
    <div v-show="isModalOpen" class="modal fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
        <div class="absolute right-0 top-0 hidden pr-4 pt-4 sm:block">
          <button type="button" @click="closeModal" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">Close</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ title }}</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">{{ description }}</p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button @click="handleAction" :disabled="isActionDisabled" type="button" :class="`inline-flex w-full justify-center rounded-md bg-${actionButtonColor}-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-${actionButtonColor}-500 sm:ml-3 sm:w-auto`">
            {{ isLoading ? 'Loading...' : actionButtonText }}
          </button>
          <button type="button" @click="closeModal" class="`mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
        </div>
      </div>

    </div>
  </TransitionFade>
</template>

<script setup>
import {ref, watch} from 'vue';
import TransitionFade from "~/components/TransitionFade.vue";

const props = defineProps({
  title: String,
  description: String,
  isModalOpen: Boolean,
  actionButtonText: String,
  apiAction: Function,
  actionButtonColor: {
    type: String,
    default: 'indigo',
  },
})

const emit = defineEmits(['close'])
const isActionDisabled = ref(false);
const isLoading = ref(false)


const {title, description, apiAction, isModalOpen, actionButtonText} = toRefs(props)

const handleAction = async () => {
  try {
    isActionDisabled.value = true;
    isLoading.value = true

    // Exécuter l'appel d'API
    await props.apiAction();

    // Fermer la modale si l'appel d'API est réussi
    isLoading.value = false
   closeModal();
    window.location = '/people'
  } catch (error) {
    // Gérer les erreurs de l'appel d'API si nécessaire
  } finally {
    isActionDisabled.value = false;
    isLoading.value = false
  }
};

const closeModal = () => {
  isModalOpen.value = false;
  emit('close');
};

// Observer les changements de la propriété isModalOpen
watch(isModalOpen, (newVal) => {
  if (newVal) {
    // Réinitialiser l'état du bouton et activer le focus sur le bouton d'action
    isActionDisabled.value = false;
    actionButtonText.value = 'Action';
    setTimeout(() => {
      const actionButton = document.querySelector('.bg-blue-500');
      if (actionButton) {
        actionButton.focus();
      }
    }, 0);
  }


})

</script>

<style scoped>
/* Ajouter des styles Tailwind personnalisés ici si nécessaire */
</style>
