<script setup lang="ts">

import md5 from "md5";

defineComponent({
  name: "NameCell"
})

const props = defineProps({
  name: String,
  image: String
})


const profleImage = computed(() => {
  if(props.image ===null ||props.image === "N/A")
  {
    const initials = props.name?.split(" ").join("+")
    console.log(initials)
    return `https://ui-avatars.com/api/?background=b51919&color=fff&name=${initials}`
  }
  return props.image
})
</script>
<template>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <div class="flex items-center">
      <div class="h-11 w-11 flex-shrink-0">
        <img class="h-11 w-11 rounded-full" :src="profleImage" alt=""/>
      </div>
      <div class="ml-4">
        <div class="font-medium text-gray-900">{{ props.name ?? 'Unknow' }}</div>
      </div>
    </div>
  </td>
</template>