<script setup lang="js">

const data = defineProps({
  title: String,
  description: String
})

</script>

<template>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-4xl font-bold leading-6 text-gray-900">{{ data.title }}</h1>
      <p class="mt-2 text-sm text-gray-700">{{data.description}}</p>
    </div>
  </div>
</template>