<script setup lang="ts">
</script>

<template>
  <div>
    <!-- Loading Placeholder -->
    <div class="animate-pulse">
      <div class="h-32 w-full bg-gray-200"></div>
      <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
          <div class="flex">
            <div class="h-24 w-24 rounded-full ring-4 ring-white bg-gray-200 sm:h-32 sm:w-32"></div>
          </div>
          <div class="mt-6 sm:flex sm:min-w-0 sm:flex-1 sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
            <div class="mt-6 min-w-0 flex-1 sm:hidden md:block">
              <h1 class="truncate text-2xl font-bold text-gray-900 bg-gray-200"></h1>
            </div>
            <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-x-4 sm:space-y-0">
              <div class="bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <div class="h-5 w-5 text-gray-400 bg-gray-200"></div>
                <span class="bg-gray-200 px-6"></span>
              </div>
              <div class="bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <div class="h-5 w-5 text-gray-400 bg-gray-200"></div>
                <span class="bg-gray-200 px-6"></span>
              </div>
              <div class="bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <div class="h-5 w-5 text-gray-400 bg-gray-200"></div>
                <span class="bg-gray-200 px-6"></span>
              </div>
              <div class="bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <div class="h-5 w-5 text-gray-400 bg-gray-200"></div>
                <span class="bg-gray-200 px-6"></span>
              </div>
              <div class="bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                <div class="h-5 w-5 text-gray-400 bg-gray-200"></div>
                <span class="bg-gray-200 px-6"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-6 hidden min-w-0 flex-1 sm:block md:hidden">
          <h1 class="truncate text-2xl font-bold text-gray-900 bg-gray-200"></h1>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>