<script setup lang="js">

import {
  FlexRender,
  getCoreRowModel,
  getFilteredRowModel,
  getPaginationRowModel,
  getSortedRowModel,
  useVueTable
} from "@tanstack/vue-table";
import {MagnifyingGlassIcon} from "@heroicons/vue/20/solid/index.js";
import {isEqual} from "lodash"

const props = defineProps({
  data: {
    required: true,
    default: () => []
  },
  columns: Array,
  pageCount: Number,
  pagination: Object,
})
const emit = defineEmits(['paginationChanged'])


const {data, columns, pageCount, pagination} = toRefs(props)


let sorting = ref([])
let filter = ref('')


console.log("rendered")

const table = useVueTable({
  get data() {
    return data.value;
  },
  columns: props.columns,
  get pageCount() {
    return pageCount.value ?? -1
  },
  getCoreRowModel: getCoreRowModel(),
  getPaginationRowModel: getPaginationRowModel(),
  getSortedRowModel: getSortedRowModel(),
  getFilteredRowModel: getFilteredRowModel(),
  state: {
    get sorting() {
      return sorting.value
    },
    get globalFilter() {
      return filter.value
    },

    pagination: pagination.value,

    manualPagination: true,
  },
  onSortingChange: updaterOrValue => {
    sorting.value =
        typeof updaterOrValue === 'function'
            ? updaterOrValue(sorting.value)
            : updaterOrValue
  },
  onPaginationChange: updater => {
    if (typeof updater === 'function') {
      setPagination(
          updater({
            pageIndex: pagination.value.pageIndex,
            pageSize: pagination.value.pageSize,
          })
      )
    } else {
      setPagination(updater)
      console.log(pagination.value)
    }
  }
})

const goToPageNumber = ref(pagination.value.pageIndex + 1)


function setPagination({
                         pageIndex,
                         pageSize,
                       }) {
  pagination.value.pageIndex = pageIndex
  pagination.value.pageSize = pageSize
  return {pageIndex, pageSize}
}

function handleGoToPage(e) {
  table.setPageIndex(e)
  emit("paginationChanged",{pageIndex:table.getState().pagination.pageIndex, pageSize:table.getState().pagination.pageSize})

}

function handlePageSizeChange(e) {
  table.setPageSize(Number(e.target.value))
}

</script>
<template>
  <br>
  <div class="mt-10 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="mb-4 flex justify-between items-center">
          <div class="w-full max-w-lg lg:max-w-xs">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <MagnifyingGlassIcon class="h-5 w-5 text-gray-400" aria-hidden="true"/>
              </div>
              <input id="search" name="search"
                     v-model="filter"
                     class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                     placeholder="Search" type="search"/>
            </div>
          </div>
        </div>
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">

            <tr>
              <th
                  v-for="(header, headerIdx) in table.getFlatHeaders()"
                  @click="header.column.getToggleSortingHandler()?.($event)"
                  :key="header.id"
                  scope="col"
                  :class="[
                   (header.column.getCanSort() ? 'cursor-pointer select-none' :''),
                    (headerIdx === 0 ? 'py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6': 'px-3 py-3.5 text-left text-sm font-semibold text-gray-900')
               ]"
              >
                <FlexRender
                    :render="header.column.columnDef.header"
                    :props="header.getContext()"
                />
              </th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <template v-if="table.getRowModel().rows.length > 0">
              <tr v-for="(row, rowIdx) in table.getRowModel().rows" :key="row.id"
                  :class="rowIdx % 2 === 0 ? undefined : 'bg-gray-50'">
                <td v-for="cell in row.getVisibleCells()" :key="cell.id">
                  <FlexRender
                      :render="cell.column.columnDef.cell"
                      :props="cell.getContext()"
                  />
                </td>
              </tr>
            </template>

            <template v-else>
              <tr class="p-4">
                <td colspan="6" class="p-4">
                  <div class="text-center">
                    <h3 class="mt-2 text-sm font-semibold text-gray-900">No data</h3>
                    <p class="mt-1 text-sm text-gray-500">We don't have any result for your query.</p>
                  </div>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
        <nav class="flex items-center justify-between border-t border-gray-200 py-3 mt-5" aria-label="Pagination">
          <div class="hidden sm:block">
            <p class="text-sm text-gray-700">
              Page
              {{ ' ' }}
              <strong>
                {{ table.getState().pagination.pageIndex + 1 }}
              </strong>
              of
              {{ ' ' }}

              <strong>
                {{ table.getPageCount() }}
              </strong>
            </p>
          </div>
          <div class="flex flex-1 justify-between sm:justify-end">
            <button
                class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                @click="() => table.setPageIndex(0)"
                :disabled="!table.getCanPreviousPage()"
            >
              First Page
            </button>
            <button
                class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50"
                @click="() => table.previousPage()"
                :disabled="!table.getCanPreviousPage()"
            >
              Previous
            </button>
            <button
                @click="() => handleGoToPage(table.getState().pagination.pageIndex + 1)"
                :disabled="!table.getCanNextPage()"
                class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
            >
              Next
            </button>
            <button
                @click="() => table.setPageIndex(table.getPageCount() - 1)"
                :disabled="!table.getCanNextPage()"
                class="relative ml-3 inline-flex items-center
                  rounded-md bg-white px-3 py-2 text-sm font-semibold
                  text-gray-900 ring-1 ring-inset ring-gray-300
                  hover:bg-gray-50 focus-visible:outline-offset-0
                  disabled:cursor-not-allowed
                  disabled:opacity-50
                  "
            >
              Last Page
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>