<script setup lang="ts">

import {IdentityUser} from "~/types";
import {format} from "date-fns";
import TransitionFade from "~/components/TransitionFade.vue";
import {Ref} from "vue";
import { ref } from 'vue'
import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from '@headlessui/vue'
import { CalendarIcon, PaperClipIcon, TagIcon, UserCircleIcon } from '@heroicons/vue/20/solid'

const props = defineProps<{
  user: IdentityUser,
  isLoading:boolean,
  apiAction:Function,
  errorMessage: string
}>()

let isAttachmentOpen : Ref<boolean> = ref(false)

const { isLoading, errorMessage } = toRefs(props)



const toggleAttachment = () => {
  isAttachmentOpen.value = !isAttachmentOpen.value;
};



</script>

<template>
  <div class="bg-white rounded border mt-10 mb-5 py-10">
    <div class="mx-auto max-w-4xl">
      <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">Applicant Information</h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details and application.</p>
      </div>
      <div class="mt-6">
        <dl class="grid grid-cols-1 sm:grid-cols-3">
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">First name</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.firstname }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Last name</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.surname }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.email }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Date of birth</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.date_birth ? format(new Date(user?.date_birth), 'MMMM d, yyyy') : "N/A" }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Country</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.country }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">City</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.city }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Job</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.profession }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Speciality</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.specialty }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Sport</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.sport }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Inscription date</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">{{ user?.date_inscription ? format(new Date(user?.date_inscription), 'MMMM d, yyyy') : null }}</dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Email status</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
              <span
                  :class="[(user?.is_email_verified)? 'bg-green-50 text-green-700 ring-green-600/20':'bg-red-50 text-red-700 ring-red-600/20']"
                  class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset "
              >
                {{ user?.is_email_verified ? 'confirmed' : 'pending' }}
            </span>
            </dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Account status</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">
              <span
                  :class="[(user?.account_approved)? 'bg-green-50 text-green-700 ring-green-600/20':'bg-red-50 text-red-700 ring-red-600/20']"
                  class="inline-flex items-center rounded-md px-2 py-1 text-xs font-medium ring-1 ring-inset "
              >
                {{ user?.account_approved ? 'confirmed' : 'pending' }}
            </span>
            </dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-3 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:mt-2">N/A
            </dd>
          </div>
          <div class="border-t border-gray-100 px-4 py-6 sm:col-span-3 sm:px-0">
            <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
            <dd class="mt-2 text-sm text-gray-900">
              <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                  <div class="flex w-0 flex-1 items-center">
                    <PaperClipIcon class="h-5 w-5 flex-shrink-0 text-gray-400" aria-hidden="true"/>
                    <div class="ml-4 flex min-w-0 flex-1 gap-2">
                      <span class="truncate font-medium">Identity paper</span>
                      <span class="flex-shrink-0 text-gray-400">file</span>
                    </div>
                  </div>
                  <div class="ml-4 flex-shrink-0">
                    <div type="button" v-if="user?.idendity_file === 'N/A'" @click="toggleAttachment" class="font-medium text-red-600">
                      No file provided
                    </div>
                    <button v-else type="button" @click="toggleAttachment" class="font-medium text-indigo-600 hover:text-indigo-500">
                      {{ isAttachmentOpen ? 'Hide' : 'Show' }}
                    </button>

                  </div>

                </li>
              </ul>
            </dd>
            <TransitionSlide>
            <div v-show="isAttachmentOpen" type="button" class="relative block w-full my-2 rounded-lg border-2 border-dashed border-gray-300 p-1 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
              <img class="h-32 w-full object-contain lg:h-80" :src="user?.idendity_file" alt=""/>
            </div>
            </TransitionSlide>
          </div>

        </dl>
      </div>
    </div>
  </div>

</template>

<style scoped>

</style>

