<script setup>

import UsersStats from "~/components/UsersStats.vue";
import useMetrics from "~/composables/useMetrics";


definePageMeta({
  middleware: 'auth'
})

useHead({
  title: 'Dashboard | Athleo Admin',
})

const {data, isLoading, error} = useMetrics()

console.log(data.data)

</script>

<template>
  <div class="lg:flex lg:items-center lg:justify-between">
    <div class="min-w-0 flex-1">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Dashboard</h2>
      <UsersStats :total-users="data?.totalUser" :active-users="data?.totalUserAproved" :inactive-users="data?.totalUserUnaproved"/>
      <SportsStats :total="data?.sport.totalSport"
                   :football="data?.sport.bySport.totalPlayersFootbal"
                   :basketball="data?.sport.bySport.totalPlayersBasketball"
                   :rugby="data?.sport.bySport.totalPlayersRugby"/>
    </div>
  </div>
</template>
